.WeatherDisplay {
    background-color: #6294b6;
    height: 100vh;
    color: black;
    padding-top: 2rem;
    padding-left: 3rem;
    font-weight: 700;
    text-align: center;
}

.WeatherDisplay-today {
    width: 60%;
    display: flex;
    justify-content: space-around;
    background-color: hsl(192, 15%, 90%);
    color: #2c3e50;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
    margin: 0 auto;
    margin-bottom: 3rem;
}